# ignore all
*

# includes
!.git*
!*.cpp
!*.hpp
!*.defs
!*.in
![Mm]akefile
!GNU[Mm]akefile
!**/
# !benchmark/**/*
!configcheck/**/*
!cppcheck/**/*
!cpplint/**/*
!docs/**/*
!testdata/**/*
!stdlib_feature_tests/**

# excludes
*.ns.cpp
*.html
*.png
*.css
benchmark/benchmark_n*.cpp
cpplint/cpplint.py

