# ignore all
*

# includes
!.git*
!*.cpp
!*.hpp
!*.in
!Makefile
!GNUMakefile
!**/
# !benchmark/**/*
!configcheck/**/*
!cppcheck/**/*
!cpplint/**/*
!docs/**/*
!testdata/**/*
!stdlib_feature_tests/**

# excludes
*.ns.cpp
*.html
*.png
*.css
benchmark/benchmark_n*.cpp
cpplint/cpplint.py

