root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true

[Makefile]
indent_style = tab
end_of_line = lf

[*.{cpp,hpp,ipp}}
charset = utf-8-bom

[*.py]
charset = utf-8
trim_trailing_whitespace = true

[*.{yml,html}]
indent_size = 2

[*.md]
indent_size = 2
trim_trailing_whitespace = false

[*.bat]
end_of_line = crlf
