* text=auto
*.gitattributes text eol=lf
*.gitignore text eol=lf

# scripts/build
*.bat       text eol=crlf
*.cmd       text eol=crlf
*.sh        text eol=lf
*.mk        text eol=lf
*.cmake     text eol=lf
*.in        text eol=lf
Makefile    text eol=lf
Gnumakefile text eol=lf
CMakeLists.txt text eol=lf

# configs
*.yml       text eol=lf
Jenkinsfile text eol=lf
Doxyfile    text eol=lf

# text
*.md        text eol=lf
CHANGES     text eol=lf
LICENSE     text eol=lf
COPYING     text eol=lf

# source code
*.html      text eol=lf
*.css       text eol=lf
*.py        text eol=lf
*.cpp       text eol=lf
*.cxx       text eol=lf
*.cc        text eol=lf
*.c         text eol=lf
*.ipp       text eol=lf
*.hpp       text eol=lf
*.h         text eol=lf
*.mm        text eol=lf
*.cu        text eol=lf

# test input data
test/testdata/*     text eol=lf

# project file
*.code-workspace    text eol=lf
*.sln               text eol=crlf
*.vcxproj           text eol=crlf
*.vcproj            text eol=crlf
*.vcxproj.filters   text eol=crlf
*.pyproj            text eol=crlf
*.androidproj       text eol=crlf

# nuget
*.nuspec    text eol=lf
*.targets   text eol=lf

# Docker
Dockerfile  text eol=lf

# export settings
.ci         export-ignore
.circleci   export-ignore
.github     export-ignore
.semaphre   export-ignore
*.yml       export-ignore
*.yaml      export-ignore
Jenkinsfile export-ignore
tox.ini     export-ignore
docs/dev    export-ignore
.bandit     export-ignore
.gitignore  export-ignore
.gitattributes export-ignore

# linguist
*.h linguist-language=C++
*.ipp linguist-language=C++
docs/* linguist-documentation
.ci/* linguist-documentation
.circleci/* linguist-documentation
.semaphore/* linguist-documentation
.github/* linguist-documentation
.semaphore/* linguist-documentation