*.exe
*.elf
*.hex
*.stackdump
*.dump
*.gcda
*.gcno
*.log
*.tlog
*.o
*.obj
*.pdb
*.idb
*.ilk
*.suo
*.sdf
*.opensdf
*.opendb
*.user
*.nupkg
*.pyc
coverage.info
test/*.xml
lib
.svn
.sonar

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
fused-src/
tmp/

*コピー*
