*.exe
*.elf
*.hex
*.stackdump
*.dump
*.gcda
*.gcno
*.log
*.tlog
*.o
*.obj
*.pdb
*.idb
*.ilk
*.ipch
*.suo
*.sdf
*.opensdf
*.opendb
*.user
*.nupkg
*.pyc
*.VC.db
*.tmp
*.zip
*.tar.gz
*.egg-info/
coverage.info
test/*.xml
test/*.ns.cpp
lib
libs
.svn
.sonar
.vs
.vscode
.tox
.DS_Store
env.*/

# Build results
[Dd]ebug/
[Dd]ebug*/
[Dd]ebugPublic/
[Rr]elease/
[Rr]elease*/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
fused-src/*.*
tmp/

# bundle
.bundle/
vendor/

# secret
credential.yml

# execute files
projects/make/sample

*コピー*
.jflintrc

# appveyor
appveyor-tools/

# package
package/

# osdn
.osdn.vars
osdn_*/

# npm
node_modules/
package-lock.json

# python
# pyenv
.python-version

# cmake
CMakeLists.txt.user
CMakeCache.txt*
CTestTestfile.cmake
cmake_install.cmake
compile_commands.json
CMakeFiles/

# CLion
cmake-build*/

# Infer
infer-out/

# Earthly
earthly-out/

# Dagger
cue.mod/
dagger-out/

# netos/act
.github/event/*.json
