before_install:
  - |
    if [ "$TRAVIS_OS_NAME" == "windows" ]; then
      CMAKE=`dirname "$(find '/c/Program Files'* -name 'cmake.exe' 2>/dev/null | head -n1)"`
      MSBUILD=`dirname "$(find '/c/Program Files'* -name 'MSBuild.exe' 2>/dev/null | grep 'amd64' | head -n1)"`
      export PATH=$PATH:"$CMAKE":"$MSBUILD"
      echo $PATH
    fi
  - python .ci/travisci/travis_blocking_stdout.py || true

script:
  - |
    if [ "${USE_CMAKE}" == '1' ]; then
      set -e
      mkdir ./cmake-build && cd ./cmake-build
      cmake ../projects/cmake
      if [ "$TRAVIS_OS_NAME" == "windows" ]; then
        echo msbuild
        MSBuild.exe "${TRAVIS_BUILD_DIR}\cmake-build\iutest.sln" /m /verbosity:minimal
      else
        cmake --build .
      fi
      ctest -C Debug -V
      cd ..
    fi

matrix:
  include:
    - os: windows
      language: sh
      env: WINDOWS=1 USE_CMAKE=1
      before_script:
        - cmake.exe --version
        - cmd.exe /C echo test
        - cmd.exe /C MSBuild.exe --version
        - MSBuild.exe --version
    - os: windows
      language: go
      env: WINDOWS=1 USE_CMAKE=1
      before_script:
        - powershell /?
    - os: windows
      language: rust
      env: WINDOWS=1 USE_CMAKE=1
    - os: windows
      language: node_js
      env: WINDOWS=1 USE_CMAKE=1
 