trigger:
#  batch: true
  branches:
    include:
      - master
      - develop
  paths:
    exclude:
      - "*.md"
      - docs/*
      - Jenkinsfile
      - LICENSE
      - .bandit
      - .editorconfig
      - .hadolint.yaml
      - .lgtm.yaml
      - .git*
      - "*.ini"
      - "*.wsf"
      - appveyor.yml
      - bitrise.yml
      - buddy.yml
      - .circleci/*
      - .cirrus.yml
      - .scrutinizer.yml
      - codecov.yml
      - codefresh.yml
      - codeship-services.yml
      - codeship-steps.yml
      - .drone.yml
      - .github/*
      - .razorops.yaml
      - .semaphore/*
      - shippable.yml
      - sider.yml
      - .travis.yml
      - wercker.yml

pr:
  branches:
    # base branch name filter
    include:
      - master
      - develop
      - azure-pipelines/*
      - azurepipelines/*
      - azp/*
  paths:
    exclude:
      - "*.md"
      - docs/*
      - Jenkinsfile
      - LICENSE
      - .bandit
      - .editorconfig
      - .hadolint.yaml
      - .lgtm.yaml
      - .git*
      - "*.ini"
      - "*.wsf"
      - appveyor.yml
      - bitrise.yml
      - buddy.yml
      - .circleci/*
      - .cirrus.yml
      - .scrutinizer.yml
      - codecov.yml
      - codefresh.yml
      - codeship-services.yml
      - codeship-steps.yml
      - .drone.yml
      - .github/*
      - .razorops.yaml
      - .semaphore/*
      - shippable.yml
      - sider.yml
      - .travis.yml
      - wercker.yml

resources:
  containers:
  - container: gcc_10
    image: rikorose/gcc-cmake:gcc-10
    options: "--name ci-container"
  - container: wine_msvc
    image: madduci/docker-wine-msvc:16.7-2019
    options: "-u root --name ci-container"
    volumes:
      - "$(Build.SourcesDirectory)/iutet:/home/wine/.wine/drive_c/iutest"

stages:
  - stage: Precheck
    jobs:
      - job: syntax_test
        pool:
          vmImage: ubuntu-latest
        steps:
          # - script: |
          #     echo test | docker login
          #   displayName: 'docker login check'
          - script: make -C test -j4 syntax_tests_run
            displayName: 'syntax test'
  - stage: Test
    dependsOn: Precheck
    jobs:
      - template: .ci/azure_pipelines/template-make-test.yml
        parameters:
          name: default
  - stage: ConfigDisabledTest
    dependsOn: Precheck
    jobs:
      - template: .ci/azure_pipelines/template-make-disabled-test.yml
        parameters:
          name: disabled
  - stage: ConfigNoFeatureTest
    dependsOn: Precheck
    jobs:
      - template: .ci/azure_pipelines/template-make-nofeature-test.yml
        parameters:
          name: nofeature
  - stage: MixConfigTest
    dependsOn: Precheck
    jobs:
      - template: .ci/azure_pipelines/template-make-mix-test.yml
        parameters:
          name: mix
  - stage: VisualStudio
    dependsOn: Precheck
    jobs:
      - job: vstest
        strategy:
          matrix:
            NO_EXCEPTION_HANDLER:
              CMAKE_OPTIONS: -Dbuild_gtest_samples=ON -Dbuild_no_exceptions=ON
            USE_EXPERIMENTAL:
              CMAKE_OPTIONS: -Dbuild_gtest_samples=ON -Dbuild_use_experimental=ON
        pool:
          vmImage: windows-2019
        steps:
        - template: .ci/azure_pipelines/template-cmake-steps.yml
          parameters:
            generator_name: Visual Studio 16 2019
            platform: x64
            cmake_options: "${CMAKE_OPTIONS}"
  - stage: DockerContaierTest
    dependsOn: Precheck
    jobs:
      - job: gcc
        pool:
          vmImage: ubuntu-latest
        steps:
        - template: .ci/azure_pipelines/template-cmake-docker-steps.yml
          parameters:
            container_target: gcc_10
      - job: wine_msvc
        pool:
          vmImage: ubuntu-latest
        steps:
        - script: |
            echo launch
          target:
            container: wine_msvc
          displayName: 'launch'
        - script: |
            /usr/bin/docker exec -t -u wine ci-container bash -c "wine64 dir"
            /usr/bin/docker exec -t -u wine ci-container bash -c "wine64 ./iutest/.ci/azure_pipelines/cmake-test.bat"
          displayName: 'cmake test'
  # - stage: CodeQL
  #   dependsOn: Precheck
  #   variables:
  #     GITHUB_AUTH_TOKEN: $(GITHUB_PAT)
  #   jobs:
  #     - template: .ci/azure_pipelines/template-codeql-job.yml
  #       parameters:
  #         github_access_token: "$(GITHUB_AUTH_TOKEN)"
  # - stage: Publish
  #   dependsOn:
  #     Test
  #     ConfigDisabledTest
  #     ConfigNoFeatureTest
  #   jobs:
  #     - job: publish
  #       pool:
  #         vmImage: ubuntu-16.04
  #       condition: always()
  #       steps:
  #         - task: PublishPipelineArtifact@0
  #           inputs:
  #             artifactName: 'xml2file'
  #             targetPath: $(Build.ArtifactStagingDirectory)
