version: 2
default: &default
  shell: /bin/bash --login
  docker:
  - image: circleci/buildpack-deps:cosmic-browsers

jobs:
  optimize_test:
    working_directory: ~/srz-zumix/iutest
    parallelism: 4
    <<: *default
    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
      MAKE_OPTION: -j4 OUTPUTXML=1
    steps:
    - checkout
    - run: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
    - restore_cache: &restore_cache
        keys:
        # This branch if available
        - v2-dep-{{ .Branch }}-
        # Default branch if not
        - v2-dep-master-
        # Any branch if there are none on the default branch - this should be unnecessary if you have your default branch configured correctly
        - v2-dep-
    - run: &setup-step
        name: SetUp
        command: |
          sudo apt-get -y --allow-unauthenticated update
          sudo apt-get install software-properties-common 
          sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
          wget -q -O - http://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
          sudo add-apt-repository -y 'deb http://apt.llvm.org/cosmic/ llvm-toolchain-cosmic-7 main'
          sudo apt-get -y --allow-unauthenticated update
          sudo apt-get -qq install clang-7
          sudo apt-get -qq install g++-8
          sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-8 90
          sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-8 90
          sudo update-alternatives --install /usr/bin/clang clang /usr/bin/clang-7 60
          sudo update-alternatives --install /usr/bin/clang++ clang++ /usr/bin/clang++-7 60
    - save_cache: &save_cache
        key: v2-dep-{{ .Branch }}-{{ epoch }}
        paths:
        # This is a broad list of cache paths to include many possible development environments
        # You can probably delete some of these entries
        - vendor/bundle
        - ~/virtualenvs
        - ~/.m2
        - ~/.ivy2
        - ~/.bundle
        - ~/.go_workspace
        - ~/.gradle
        - ~/.cache/bower
    # Test
    - run:
        name: check compiler version
        working_directory: test
        command: |
          if [ "$CIRCLE_NODE_INDEX" == "0" ]; then
            make CXX=g++ showcxxversion;
            make CXX=clang++ showcxxversion;
          fi
    - run:
        name: g++ minimum_tests and show feature / spec
        command: if [ "$CIRCLE_NODE_INDEX" == "0" ]; then make minimum_tests && ./minimum_tests --spec --feature; fi
        working_directory: test
        environment:
          CXX: g++
    - run:
        name: clang++ minimum_tests and show feature / spec
        command: if [ "$CIRCLE_NODE_INDEX" == "0" ]; then make minimum_tests && ./minimum_tests --spec --feature; fi
        working_directory: test
        environment:
          CXX: clang++
    - run:
        name: g++ test
        command: |
          case $CIRCLE_NODE_INDEX in 0) make all $MAKE_OPTION OPTIMIZE=-O2 ;; 1) make all $MAKE_OPTION OPTIMIZE=-Os ;; 2) make all $MAKE_OPTION OPTIMIZE=-O3 ;; 3) make all $MAKE_OPTION OPTIMIZE=-O4 ;; esac
        working_directory: test
        environment:
          CXX: g++
    - run:
        name: clang++ test
        command: |
          case $CIRCLE_NODE_INDEX in 0) make all $MAKE_OPTION OPTIMIZE=-O2 ;; 1) make all $MAKE_OPTION OPTIMIZE=-Os ;; 2) make all $MAKE_OPTION OPTIMIZE=-O3 ;; 3) make all $MAKE_OPTION OPTIMIZE=-Oz ;; esac
        working_directory: test
        environment:
          CXX: clang++
    - run:
        name: move result xml
        command: |
          if [ "$CIRCLE_NODE_INDEX" == "0" ]; then
            mkdir -p $CIRCLE_TEST_REPORTS/junit/;
            find . -type f -regex ".*/test/.*xml" -exec cp {} $CIRCLE_TEST_REPORTS/junit/ \;;
          fi
    # Teardown
    - store_test_results:
        path: /tmp/circleci-test-results
    # Save artifacts
    - store_artifacts:
        path: /tmp/circleci-artifacts
    - store_artifacts:
        path: /tmp/circleci-test-results

workflows:
  version: 2
  default-test:
    jobs:
      - optimize_test:
          filters:
            branches:
              only:
                - master
                - develop
                #- /^feature.*/
