version: 2.1
aliases:
  - &branch-filter
    branches:
      only:
        - master
        - develop
        - /^feature.*/
        - /^fix.*/
        - /^circleci.*/
  - &default
    working_directory: ~/srz-zumix/iutest
    shell: /bin/bash --login
    docker:
      - image: circleci/buildpack-deps:focal-curl
        environment:
          CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
          CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
          MAKE_OPTION: -j4 OUTPUTXML=1
          MAKE_TARGET: default
          MAKE_RUN_TARGET: test
          # MAKE_TARGET: all_tests
          # MAKE_RUN_TARGET: run_all_tests
        auth:
          username: $DOCKERHUB_LOGIN
          password: $DOCKERHUB_TOKEN
  - &restore_cache
      keys:
      # This branch if available
      - v2-dep-{{ .Branch }}-
      # Default branch if not
      - v2-dep-master-
      # Any branch if there are none on the default branch - this should be unnecessary if you have your default branch configured correctly
      - v2-dep-
  - &setup-step
      name: SetUp
      command: |
        sudo apt-get -y --allow-unauthenticated update && \
        sudo apt-get install software-properties-common && \
        ./.ci/linux/install-clang.sh && \
        ./.ci/linux/install-gcc.sh
  - &save_cache
      key: v2-dep-{{ .Branch }}-{{ epoch }}
      paths:
      # This is a broad list of cache paths to include many possible development environments
      # You can probably delete some of these entries
      - vendor/bundle
      - ~/virtualenvs
      - ~/.m2
      - ~/.ivy2
      - ~/.bundle
      - ~/.go_workspace
      - ~/.gradle
      - ~/.cache/bower
  - &check-version-step
      name: check compiler version
      working_directory: test
      command: |
        if [ "$CIRCLE_NODE_INDEX" == "0" ]; then
          make showcxxversion;
        fi
  - &min-tests-and-spec-step
    name: minimum_tests and show feature / spec
    command: if [ "$CIRCLE_NODE_INDEX" == "0" ]; then make minimum_tests && ./minimum_tests --spec --feature; fi
    working_directory: test
  - &build-step
    name: build
    command: |
      make clean $MAKE_OPTION $MAKE_ADD_OPTION
      case $CIRCLE_NODE_INDEX in \
        0) make $MAKE_TARGET $MAKE_OPTION $MAKE_ADD_OPTION OPTIMIZE=-O2 ;; \
        1) make $MAKE_TARGET $MAKE_OPTION $MAKE_ADD_OPTION OPTIMIZE=-O3 ;; \
        2) make $MAKE_TARGET $MAKE_OPTION $MAKE_ADD_OPTION OPTIMIZE=-Os ;; \
        3) make $MAKE_TARGET $MAKE_OPTION $MAKE_ADD_OPTION OPTIMIZE=$FAST_OPTIMIZE ;; \
      esac
      cp *.json $CIRCLE_ARTIFACTS/ 2>/dev/null || true
    working_directory: test
  - &test-step
    name: run test
    command: |
      make $MAKE_RUN_TARGET $MAKE_OPTION $MAKE_ADD_OPTION
    working_directory: test
  - &report-step
    name: report
    command: |
      make report
    working_directory: test
  - &move-result-step
    name: move result xml
    command: |
      if [ "$CIRCLE_NODE_INDEX" == "0" ]; then
        mkdir -p $CIRCLE_TEST_REPORTS/junit/;
        find . -type f -regex ".*/test/.*xml" -exec cp {} $CIRCLE_TEST_REPORTS/junit/ \;;
      fi
  - &build-test-steps
    - checkout
    - run: mkdir -p $CIRCLE_ARTIFACTS $CIRCLE_TEST_REPORTS
    - restore_cache: *restore_cache
    - run: *setup-step
    - save_cache: *save_cache
    # Test
    - run: *check-version-step
    - run: *min-tests-and-spec-step
    - run: *build-step
    - run: *test-step
    - run: *report-step
    - run: *move-result-step
    # Teardown
    - store_test_results:
        path: /tmp/circleci-test-results
    # Save artifacts
    - store_artifacts:
        path: /tmp/circleci-artifacts
    - store_artifacts:
        path: /tmp/circleci-test-results

orbs:
  win: circleci/windows@2.2.0
  docker: circleci/docker@1.4.0

jobs:
  gcc_optimize_test:
    parallelism: 4
    <<: *default
    environment:
      CXX: g++
      GCC_VERSION: "8"
      FAST_OPTIMIZE: -Og
      # FAST_OPTIMIZE: -Ofast # https://github.com/srz-zumix/iutest/issues/396
    steps: *build-test-steps
  clang_optimize_test:
    parallelism: 4
    <<: *default
    environment:
      CXX: clang++
      CLANG_VERSION: "10"
      FAST_OPTIMIZE: -Ot
      MAKE_ADD_OPTION: CXXFLAGS=-ftime-trace
    steps: *build-test-steps
  vcperf:
    executor: win/default
    environment:
      CMAKE_GENERATOR_NAME: "Visual Studio 16 2019"
      CMAKE: "C:/CMake/bin/cmake.exe"
    steps:
      - checkout
      - run:
          name: install
          command: |
            $ProgressPreference = "SilentlyContinue"
            Invoke-WebRequest -URI https://github.com/Kitware/CMake/releases/download/v3.16.4/cmake-3.16.4-win64-x64.zip -OutFile $Env:HOMEPATH\cmake-3.16.4-win64-x64.zip
            Expand-Archive $Env:HOMEPATH\cmake-3.16.4-win64-x64.zip -DestinationPath "C:\"
            Rename-Item "C:\cmake-3.16.4-win64-x64" -NewName CMake
      - run:
          name: cmake
          shell: bash.exe
          command: |
            mkdir build && cd build && ${CMAKE} ../projects/cmake -G "${CMAKE_GENERATOR_NAME}" -A x64
      - run:
          name: vcperf
          shell: cmd.exe
          command: .circleci\vcperf_build.bat
      - store_artifacts:
          path: .\iutest.etl
  msvc_wine:
    machine: true
    steps:
      - checkout
      - docker/check:
          docker-username: DOCKERHUB_LOGIN   # DOCKER_LOGIN がデフォルト値となっており、この値が存在する場合自動で値がセットされます
          docker-password: DOCKERHUB_TOKEN   # DOCKER_PASSWORD がデフォルト値になっております
      # - run:
      #     name: login check
      #     command: |
      #       echo a | docker login
      - docker/pull:
          images: 'madduci/docker-wine-msvc:16.7-2019'
      - run:
          name: docker setup
          command: |
            docker run --rm -d -i --name iutest-work -w /home/wine/.wine/drive_c/ madduci/docker-wine-msvc:16.7-2019
            docker cp . iutest-work:/home/wine/.wine/drive_c/iutest_
            docker exec iutest-work wine64 cmd /C xcopy /Y /I /H /S /Q iutest_ iutest
      - run:
          name: test
          command: |
            docker exec iutest-work /home/wine/.wine/drive_c/iutest_/.ci/msvc-wine-entrypoint iutest/.ci/msvc-wine-build.bat
          no_output_timeout: 15m
      - run:
          name: docker teardown
          command: |
            docker stop iutest-work

workflows:
  version: 2.1
  default-test:
    jobs:
      - gcc_optimize_test:
          filters: *branch-filter
      - clang_optimize_test:
          filters: *branch-filter
      - vcperf
      - msvc_wine
