name: GitHub Actions - metrics
on:
  push:
    branches:
      - master
      - develop
    paths-ignore:
      - '*.ini'
      - '*.md'
      - '*.yml'
      - '*.yaml'
      - '.circleci/**'
      - '.semaphore/**'
      - 'docs/**'
      - 'projects/**'
      - 'samples/**'
      - 'src/**'
      - 'test/**'
      - 'tools/**'
      - 'utils/**'

jobs:
  prepare:
    runs-on: ubuntu-18.04
    env:
      HEAD_COMMIT_MESSAGE: ${{ github.event.head_commit.message }}
    if: >
      ! contains(github.event.head_commit.message, '[gh skip]') &&
      ! contains(github.event.head_commit.message, '[skip gh]')
    steps:
      - run: |
          echo "$HEAD_COMMIT_MESSAGE"

  fused:
    runs-on: ubuntu-18.04
    needs: prepare
    steps:
    - uses: actions/checkout@v2
    - name: fused
      id: fused
      run: |
        make -C tools/fused
        echo "##[set-output name=size;]$(wc -c < fused-src/iutest.hpp)"
        echo "##[set-output name=min_size;]$(wc -c < fused-src/iutest.min.hpp)"
        echo "##[set-output name=wandbox_min_size;]$(wc -c < fused-src/iutest.wandbox.min.hpp)"
    - name: send metrics
      run: |
        curl \
          -H "Content-Type: application/json" \
          -X POST \
          -d "{\"branch\": \"${GITHUB_REF#refs/heads/}\", \"commit\": \"${GITHUB_SHA}\", \"size\": \"${{ steps.fused.outputs.size }}\", \"min\": \"${{ steps.fused.outputs.min_size }}\", \"wandbox\": \"${{ steps.fused.outputs.wandbox_min_size }}\"}" \
          ${{ secrets.FUSED_METRICS_WEBHOOK }}

  login:
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      -
        name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

  lizard:
    runs-on: ubuntu-18.04
    needs: login
    steps:
    - uses: actions/checkout@v2
    - name: Lizard
      uses: docker://srzzumix/lizard
      with:
        args: -o lizard.html --html ./include
    - name: Archive code metrics results
      uses: actions/upload-artifact@v1
      with:
        name: lizard.html
        path: lizard.html


